.App{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #929292;

}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 280px;
  text-align: center;
  background-color: #49a9d6;
  color: #fff;
  border-radius: 5px;
  border: 4px solid #707070;
  box-shadow: 2px 6px 18px 0px #393a3a;
  transition: 200ms;
}
.card:hover{
  transform: translateY(-10px);
}

.img{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.info{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.types{
  display: flex;
  width: 100%;
  height: 50%;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.type1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 42%;
  padding: 1px 0;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #706c6c;
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.status{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  max-height: 80%;
  background-color: #5f5e5e;
  border-radius: 10px;
  gap: 2px;
  padding: 5px 0;
}
.num{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #dadada;
  margin: 0;
  padding: 0;
  font-size: 13px;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
  bottom: 0;
}

img{
  display: flex;
  width: 85%;
  height: 85%;
  background-color: #ffe09c;
  border-radius: 5px;
  border: 2px solid #b8b8b8;  
}


.fire{
  background-color: #FF9C54;
}
.water{
  background-color: #4D90D5;
}
.grass{
  background-color: #63BB5B;
}
.bug{
  background-color: #90C12C;
}
.electric{
  background-color: #F3D23B;
}
.ice{
  background-color: #9EE5FD;
}
.normal{
  background-color: #C5C2BB;
}
.psychic{
  background-color: #E8497F ;
}
.fairy{
  background-color: #F2AFF2;
}
.flying{
  background-color: #98A9F2;
}
.rock{
  background-color: #BCA45C;
}
.ground{
  background-color: #D3B25A;
}
.poison{
  background-color: #934392;
}
.dark{
  background-color: #3E2D25;
}
.ghost{
  background-color: #6060AF;
}
.steel{
  background-color: #B5B5C4;
}
.dragon{
  background-color: #7761E4;
}
.fighting{
  background-color: #80351A;
}
.type, .Generations, .Gen, .Order{
  background-color: #555555;
}
.header{
  width: 100%;
  height: 100px;
  display: flex;
}
.logo{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img{
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}
.menu{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search{
  display: flex;
  width: 90%;
  height: 50px;
}
.input{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 40%;
  gap: 5px;
}
.filter{
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;

}
.search i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #555555;
  border-radius: 50%;
  color: #fff;
}